.sectionAbout {
  margin: -30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionAbout > h1 {
  text-align: center;
  margin-bottom: 20px;
}

.sectionAbout > p {
  text-align: left;
  margin: 10px;
}

.containerTruck {
  width: max-content;
  height: max-content;
  margin-bottom: -30px;
}

.imgTruck {
  width: 350px;
  height: 230px;
}
