@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Quicksand&display=swap");

.sectionAbout {
  margin: -30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionAbout > h1 {
  text-align: center;
  margin-bottom: 20px;
}

.sectionAbout > p {
  text-align: left;
  margin: 10px;
}

.description > h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
}

.description > p {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  text-align: center;
}

.containerTruck {
  width: max-content;
  height: max-content;
  margin: 20px 0;
}

.imgTruck {
  width: 300px;
  height: 120px;
}

@media (min-width: 600px) {
  .sectionAbout {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 100px auto;
  }

  .description {
    width: 50%;
    padding: 0 20px;
  }

  .description > h1 {
    margin-bottom: 20px;
    text-align: center;
  }

  .description > p {
    text-align: center;
  }

  .imgTruck {
    width: 600px;
    height: 250px;
  }
}
