.div-logo {
  display: flex;
}

.logo {
  max-width: 280px;
  height: max-content;
  margin: 15px auto;
}

.navbar {
  width: 100%;
  height: max-content;
}

.list {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  list-style: none;
  padding: 10px 20px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 0 20px;
  padding: 20px;
}

.btn-faleConosco {
  width: 150px;
  height: 45px;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #ec7b1f;
  background-color: black;
  border: 1px solid black;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
}

@media (min-width: 600px) {
  .header-site {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
  }

  .logo {
    max-width: 280px;
    margin: 0;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .list {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
  }

  .list > li {
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 1px solid #ec7b1f;
  }

  .list > li:hover {
    border-bottom: 1px solid black;
  }
}
